body {
    background-color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    color: #7029b3;
}

.container section {
    background: rgb(122, 122, 122);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
}

footer {
    border-top: 1px solid #ddd;
}
